body{
    background-image:url(img/bg.jpg);
    background-position: center; 
    background-size: cover;
    font-family: "Trebuchet MS";
    font-size: 25px;
    color:white;
    text-align: center;
    font-weight: bold;
    height: 100vh;  /* Full viewport height */
    display: flex;  /* Use Flexbox on body */
    flex-direction: column;  /* Stack elements vertically */
    justify-content: center;  /* Center horizontally */
    align-items: center;  /* Center vertically */
}


h1{
    color: goldenrod;
    font-size: 48px;
}

button{
    color: #016f32;
    font-size: 18px;
    width: 150px;
    background: goldenrod;
    padding:5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}